/Packages
/Temp
/.vsconfig
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Library
/Logs
/Assets/Settings
/Assets/TextMesh Pro
/Assets/TutorialInfo
/Assets/Polybrush Data
/Assets/Presets
/Assets/Samples
/Assets/Presets.meta
/Assets/Readme.asset
/Assets/Readme.asset.meta
/Assets/Samples.meta
/Assets/Scenes.meta
/Assets/Scripts.meta
/Assets/Settings.meta
/Assets/TextMesh Pro.meta
/Assets/TutorialInfo.meta
/Assets/UniversalRenderPipelineGlobalSettings.asset.meta
/Assets/BrokenVector.meta
/Assets/ExampleAssets.meta
/Assets/GameAssets.meta
/Assets/Materials.meta
/Assets/Polybrush Data.meta
/Assets/Scenes/SampleScene.unity.meta
/Assets/Scenes/TemplateScene.unity
/Assets/Scenes/TemplateScene.unity.meta
/Assets/Scenes/TestLevel.unity
/Assets/Scenes/TestLevel.unity.meta
/Assets/Scenes/SampleScene.unity
